<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <!-- <a mat-list-item  routerLink="/products">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a> -->
            <a mat-list-item  routerLink="/oss">
            <i class="material-icons">
                    how_to_vote
                </i>
                Cadastro de Os
            </a>
            <a mat-list-item  routerLink="/ossfather">
                <i class="material-icons">
                    airplanemode_active
                    </i>
                    Cadastro de Os Pai
                </a>
                <a mat-list-item  routerLink="/fabio">
                    <i class="material-icons">
                        table_chart
                        </i>
                        Teste Tabela com Input
                    </a>
        
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
